server:
  port: 8080

spring:
  application:
    name: order-catalog-service
  

  
  datasource:
    url: jdbc:postgresql://tea-snacks-postgres:5432/tea_snacks_db
    username: tea_snacks_user
    password: tea_snacks_password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  data:
    redis:
      host: tea-snacks-redis
      port: 6379
      timeout: 2000ms
  
  kafka:
    bootstrap-servers: tea-snacks-kafka:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: order-catalog-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      group:
        readiness:
          include: db,redis,kafka
        liveness:
          include: ping
      validate-group-membership: false
  health:
    kafka:
      enabled: true
    db:
      enabled: true
    redis:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.teadelivery: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
